#top_nav{
  background-color: #daac00 ;
  padding: 0 8%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 20px;
    padding-left: 25px;
    margin-left: 33px;
}
 #searchbox
 {
   background-color: #fcc302;
   color: white;
   border-radius: 0px;
   border: 0;
   position: relative;
   left: 47px;
   box-shadow: 5px 10px 11px 0px #00000021;
 }
 #searchbox::placeholder
 {
   color: white;
 }
#searchbtn
{
  position: relative;
  z-index: 99;
  background-color: #00bec9;
  color: white;
  border-radius: 0px;
  border: 0;
}
@media only screen and (max-width : 768px) {
  #searchform{
    margin-bottom: 30px;
    margin-top: 20px;
    position:relative;
    left: -20px;
  }
}
@media only screen and (max-width : 500px) {
  #top_nav{
    padding: 0
  }
}

#banner{
  background-color: #fcc302;
  padding-bottom: 40px;
}
#bannertext h1{
  color: white;
  font-size: 70px;
  margin-top: 100px
}
#bannertext p{
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom :20px;
}
#bb1{
  background-color:  #00bec9;
  border: 2px solid  #00bec9;
  color: white;

}
#bb2
{
  color: white;
  background-color:#fcc302 ;
  border: 2px solid white;
  margin-left: 20px;

}
#ban_img{
  padding-top: 70px;
}
@media only screen and (max-width:1300px) {
  #bannertext h1{
    font-size: 50px;
  }
  #banner{
    padding-bottom: 70px;
  }
  #ban_img
  {
    padding-top: 100px
  }
}
#service-text{
  padding-top: 10%;
  padding-bottom: 5%;
}
#service-img{
  padding: 5%;
}
#sbtn{
  color: white;
  background-color: #fcc302;
  border: 2px solid #fcc302;
  margin-top: 10px;
}
@media only screen and (max-width:768px) {
  #service-img{
  padding-top: 10%;
}
  }

#counter-img
{
background-color: #fcc302;
padding-top: 50px;
padding-bottom: 70px;

}

.counter-icon{
  font-size: 70px;
}
@media only screen and (max-width:500px) {
  .counter-icon{
    font-size: 50px;
  }
  }
